.sponsors
  h1.sponsors__title スポンサー
  .sponsors__column
    h2.sponsors__subTitle.sponsors__subTitle--champion Champion
    ul.sponsors__list
      each val in ['logo']
       li= val
    h2.sponsors__subTitle.sponsors__subTitle--gold Gold
    ul.sponsors__list
      each val in ['logo']
       li= val
    h2.sponsors__subTitle.sponsors__subTitle--accomplice Accomplice
    ul.sponsors__list
      each val in ['logo']
       li= val
    h2.sponsors__subTitle.sponsors__subTitle--silver Silver
    ul.sponsors__list
      each val in ['logo']
       li= val
    h2.sponsors__subTitle.sponsors__subTitle--bronze Bronze
    ul.sponsors__list
      each val in ['logo']
       li= val
    h2.sponsors__subTitle.sponsors__subTitle--link Link
    ul.sponsors__list
      each val in ['logo']
       li= val
  .sponsors__twoColumns
    h2.sponsors__subTitle.sponsors__subTitle--media Media
    ul.sponsors__list
      each val in ['logo']
       li= val
  .sponsors__twoColumns
    h2.sponsors__subTitle.sponsors__subTitle--tool Tool
    ul.sponsors__list
      each val in ['logo']
       li= val
// .sponsors
